body {
  font-family: Arial, sans-serif;
  background-color: #295E30;
  color: #295E30;
  text-align: center;
  margin: auto;
  padding: auto;
  width: 75%;
}

.container {
  margin-top: 80px;
  padding: auto;
  width: 60%;
  color: #29575E;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.buttons button {
  color: #295E4B;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background: #295E4f;
}

#idea-box {
  margin-top: 40px;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px;
  min-height: 60px;
}
